@model ICollection<ForestInterActive.GameListModel>
@{
    ViewBag.Banner = "banner_home.jpg";

    ViewBag.Title1 = "no ads, no waiting,";
    ViewBag.Title2 = "just pure play.";
}
<!-- Content -->


<section class="featured-games overflow-hidden">
    <main class="container">
        <header class="featured-games-header">
            <h1 class="featured-games-title d-flex align-items-baseline justify-content-between">
                <span>FEATURED GAMES</span>
                <a href="@Url.Action("AllGames", "Home")" class="font-size-sm">see more</a>
            </h1>
        </header>
        <div id="owlCtgCarouselOne" class="owl-carousel gm-categories owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1400px, 0px, 0px); transition: all 0s ease 0s; width: 5600px;">

                    @foreach (var game in Model)
                    {
                        <div class="owl-item" style="width: 270px; margin-right: 10px;">
                            <div class="card featured-games-card">
                                <a href="@Url.Action("GameDetail", "Home",new { gameId=game.GameID,categoryName=game.CategoryName})"><img src="@game.GameLogo" class="card-img-top" alt="Game logo" style="height:270px;"></a>
                                <div class="card-body">
                                    @*<h4 class="card-title text-truncate">@game.GameTitle</h4>*@
                                    <h4 class="card-title text-truncate"><a href="@Url.Action("GameDetail", "Home",new { gameId=game.GameID,categoryName=game.CategoryName})">@game.GameTitle</a></h4>

                                    <div class="card-ratings mt-1">
                                        <img class="img-fluid" src="~/Content/images/5_star.png" alt="sdafsdf">
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    }

                </div>
            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
        </div>
    </main>
</section>




<!-- Types of Subscription -->
<section class="fun-factors">
    <main class="container">
        <h1 class="fun-factors-title text-center">
            <span class="font-weight-lighter d-block d-sm-inline mb-3" style="font-family: 'Kalam', cursive;"> GAMES SHOULD BE FUN,</span>
            <strong class="d-block d-sm-inline" style="font-family: 'Kalam', cursive;"> NOT A HASSLE.</strong>
        </h1>
        <section class="row">
            <div class="col-6 col-sm-3">
                <div class="card text-center">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/feature_unlimited_fun.png" alt="Unlimited Fun">
                    <div class="card-body">
                        <h4 class="h4 card-title">Unlimited Fun</h4>
                        <p class="card-text">Hundreds of top games, curated &amp; localized experience, easy discovery</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card text-center">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/feature_subscription.png" alt="Subscription">
                    <div class="card-body">
                        <h4 class="h4 card-title">Subscription</h4>
                        <p class="card-text">Never pay for a game again. New games added every week. </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card text-center">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/feature_ads.png" alt="Feature Ads">
                    <div class="card-body">
                        <h4 class="h4 card-title">Ads Removed</h4>
                        <p class="card-text"> Play uninterrupted with no ads or waiting times.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card text-center">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/feature_app_purchase.png" alt="App Purchase">
                    <div class="card-body">
                        <h4 class="h4 card-title">Free In-App purchases</h4>
                        <p class="card-text"> Get coins, armour, swords and power ups. Access to all levels and all add-ons for free.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>

<!-- Subscriptions -->
<section class="subscription">
    <main class="container">
        <div class="row">
            <aside class="col-12 col-sm-6 subscription-app text-center">
                <img class="img-fluid" src="~/Content/images/subscription-app.png" alt="Subscription App">
            </aside>
            <aside class="col-12 col-sm-6">
                <h1 class="subscription-title">
                    <span class="font-weight-lighter ml-4 text-center text-sm-left">TRY IT.</span>
                    <span class="font-weight-bolder ml-n3 text-center text-sm-left">YOU'LL LOVE IT.</span>
                </h1>
                <div class="achievement text-center text-sm-left">
                    <img class="img-fluid" src="~/Content/images/platgames-achievements.png" alt="PlatGames Achievements">
                </div>
                <h2 class="weekly text-center text-sm-left">
                    <span class="free-days ml-n3">Unlimited gaming, all levels included</span>
                    <span class="discounts">
                        <strong class="font-weight-bold">RM 2/Week </strong>
                        <em class="text-danger"><del>RM 4/Week</del></em>
                    </span>
                </h2>
                <ul class="subscription-features">
                    <li>Hundreds of top games</li>
                    <li>Free In-App purchases</li>
                    <li>Never pay for a game again</li>
                    <li>New games every week</li>
                    <li>Verified and Ad-Free</li>
                </ul>

                <a class="btn btn-primary btn-lg w-50 p-3 mb-3 mx-auto btn-start" href="#"><span class="h3">Get started</span></a>

            </aside>
        </div>
    </main>
</section>

<!-- Scripts -->

<script type="text/javascript" src="~/js/owl.carousel.min.js"></script>

<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        /**
         * Carousel for Games page
         * For each Game category
         */

        $('.owl-carousel.gm-categories').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: { stagePadding: 20, items: 3, center: true },
                576: { items: 3 },
                1000: { items: 4 }
            }
        });

        $('.owl-carousel.owl-partners').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 0,
            nav: true,
            autoWidth: true,
            dots: false,
            responsive: {
                0: {
                    nav: false,
                    stagePadding: 0,
                    items: 3,
                    autoWidth: true,
                    center: true
                },
                576: { items: 3 },
                1000: { items: 5 }
            }
        });

        /**
         * Carousel for Home page
         * For featured games
         */

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            responsive: {
                0: { items: 3, center: true },
                576: { items: 3 },
                1000: { items: 6 }
            }
        });

        $('.carousel').on('slide.bs.carousel', function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 5;
            var $carouselInner = $(this).find('.carousel-inner');
            var $carousels = $(this).find('.carousel-item');
            var totalItems = $($carousels).length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $($carousels).eq(i).appendTo($($carouselInner));
                    }
                    else {
                        $($carousels).eq(0).appendTo($($carouselInner));
                    }
                }
            }
        });

        $(document).on("click", "#barMenuKey", function (e) {
            $._isMenuVisible = (e.which === 1) ?
                toggleMenu(true) : false;
            // Stop bubbling;
            return false;
        });

        $(document).on("click keydown", function (e) {
            $._isMenuVisible = ($._isMenuVisible === true) ?
                (e.key === "Escape" || e.which === 1) ?
                    toggleMenu(false) : true
                : false;
        });

        function toggleMenu(_visibility) {
            // Initialization
            _visibility = _visibility || false;
            // On/Off Dropdown;
            $("#barDropDown").fadeToggle('fast');
            // Change bar icon;
            $("#barMenuKey")
                .find('i.fas')
                .toggleClass('fa-times');
            // On/Off backdrop overlay;
            $('body').toggleClass('dropdown-overlay');
            // return Dropdown visibility state;
            return _visibility;
        }
    });

    $(document).on('change', '#locale', function () {
        window.location.href = $(this).val();
    });

</script>
@*</body>
    </html>*@
